/* 初始化部分 */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: whitesmoke;
  color: #000;
  font-size: 14px;
}
/* 头部标题栏 */
header {
  width: 100%;
  background-color: cornflowerblue;
}

header section {
  width: 1240px;
  height: 60px;
  margin: 0 auto;
}

header img {
  height: 40px;
  width: auto;
  margin: 5px 0 0 10px;
}

header ul {
  float: right;
  margin: 20px 0 0 0;
}

header ul li {
  float: left;
  width: 80px;
  color: #fff;
  margin-left: 20px;
}

header ul li.selected {
  color: #999;
}
/*内容部分*/
.article {
  width: 1200px;
  margin: 20px auto 0;
  background-color: #fff; 
  padding: 40px 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #828282;
}
.table1{
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: left;
}
/*侧栏*/
.sidebar{  
    float: right; 
    width: 900px;  
    background: #ccc;  
}  